/*
* Cosmic Blocks
* by Narcissa Wright
* 
* code cleanup by nathnolt
*/

/* @TODO: convert this to plain CSS, 
changing mixins to classes and adding these classes on the elements 
instead of adding the mixins to the css declarations. */
:root {
	--greenMsg: rgb(97, 206, 105);
	--redMsg: rgb(255, 82, 94);
	--dimMsg: rgb(132, 116, 164);
	--darkGrey: rgb(15, 13, 18);
	--zebra1: rgb(35, 33, 39);
	--zebra2: rgb(31, 29, 34);
	--sidebarBG: rgb(29, 26, 32);
	--containerBG: rgb(175, 166, 194);
	--borderColor: rgb(74, 74, 74);
	--greenMsgLighter: rgb(139, 248, 147); /* $greenMsg + 42 (clamped to 255) */
	--greenMsgLighter2: rgb(148, 255, 156); /* $greenMsg + 51 (clamped to 255) */
	--redMsgLighter: rgb(255, 133, 145); /* $redmsg + 51 (clamped to 255) */
}

.bg-style {
	background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
::-webkit-scrollbar {
	background-color: var(--darkGrey);
	width:3px;
}
::-webkit-scrollbar-thumb {
	background-color: var(--dimMsg);
}

html {
	height:100%;
}

body {
	width: 100%;
	height: 100%;
	background:var(--borderColor);
	margin: 0; padding: 0;
	background:#e4e4e4;
	overflow:hidden;
}
body,button,input {
	font-family: Roboto, 'Segoe UI', Calibri, sans-serif;
	font-size: 1rem;
}

h1, .h1 {
	background: var(--darkGrey);
	color: #eef;
	padding: 5px;
	margin: 0;
	font-weight:bold;
	font-size:20px;
	border-bottom: 1px var(--borderColor) solid;
	text-align:center;
}

.app-container {
	display: flex;
	height:100vh;
	background-color: var(--darkGrey);
}


.in-lobby .hidden-in-lobby{
	display: none;
}

.in-gameplay .hidden-during-gameplay {
	display: none;
}

.is-ghost .hidden-for-ghost {
	display: none;
}






/**
* user
*/
.user {
	color: var(--color);
}







/**********************
*
*      CHAT
*
**********************/

.chat__toggle {
	z-index:4;
	position: fixed;
	top: 0;
	left: 0;
	background: black;
	color: white;
	border: 2px solid #4a4a4a;
	font-size: 2rem;
	height: 32px;
	width: 32px;
	line-height: 0;
	padding: 0;
}

.chat__toggle:hover {
	background: var(--dimMsg);
	cursor:pointer;
}

.chat {
	background: var(--sidebarBG);
	border-right: 1px #383040 solid;
	box-shadow: 1px 0px 5px 1px rgba(0, 0, 0, 0.2);
	height: 100vh;
	position: relative;
}

.chat__header h2 {
	margin: 0;
	color: white;
	text-align: center;
}

.chat__form {
	background:var(--zebra1);
	width:100%;
	box-sizing: border-box;
	font-size:15px;
	color: #ded9e8;
	position:absolute;
	bottom:0px;
}
.chat__input {
	box-sizing: border-box;
	width: 100%;
	background:var(--darkGrey);
	border: 0px;
	color:white;
	padding: 2px;
	border:1px solid #1f1d22;
	font-size: 15px;
}
.chat__input:focus {
	background-color:#000;
	outline: none !important;
	border:1px solid var(--dimMsg);
}
.chat__scrollwrapper {
	background: var(--zebra1);	
	color: #ded9e8;
	max-height: calc(100% - 61px);
	overflow-y: scroll;
}
.chat__message {
	padding:0 6px;
	word-wrap: break-word;
	
	a        { color: #8888FF; }
	a:hover  { color: #CCCCFF; }
	a:active { color: #ffffff; }
}
.chat__message:nth-child(2n) {
	background: var(--zebra2);
}
.chat__message-special {
	background: var(--sidebarBG);
}
/* message colors */
.greenMsg    { color: var(--greenMsg); }
.dimMsg      { color: var(--dimMsg); }
.redMsg      { color: var(--redMsg); }
.coldweather { color: #b6e3ff; }
.roomChange {
	padding: 5px 0;
	margin: 3px 0;
	text-align:center;
	color: var(--dimMsg);
	font-weight: bold;
}









/****************************
*
*      Leader board
*
*****************************/

#leaderboard {
	background: var(--sidebarBG);
	border-left: 1px #383040 solid;
	color: #ded9e8;
	box-shadow: -1px 0px 5px 1px rgba(0, 0, 0, 0.2);
}
#rankingContainer {
	max-height: calc(100% - 38px);
	overflow-y: scroll;
}
#eloRank {
	width:100%;
	border-collapse: collapse;
}
#eloRank tr:nth-child(n+3) > td:nth-child(1) { color: #907ea3; }
#eloRank tr:nth-child(1) > td:nth-child(1) { color: #f7e279; font-weight: bold; }
#eloRank tr:nth-child(2) > td:nth-child(1) { color: #bec7d2; font-weight: bold; }
#eloRank tr:nth-child(3) > td:nth-child(1) { color: #e09456; font-weight: bold; }

#eloRank tr:nth-child(even) { background: var(--zebra1); }
#eloRank tr:nth-child(odd) { background: var(--zebra2); }
#eloRank td:nth-child(1) { padding-left: 5px; }
#eloRank td:nth-child(2) { padding: 0 5px; }
#eloRank td:nth-child(3) { text-align:right;	padding-right: 5px;}

#leaderboard td:nth-child(2) { 
	word-break: break-all;
}







/*******************
*
*     Buttons
*
********************/
.buttonStyle {
	background:#e4e4e4;
	font-weight:bold;
	border:2px solid #bfb0de;
	display: inline-block;
	color: #001ca8;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2),
				0px 2px 0px 0px rgba(128, 128, 128, 0.5);
	padding:4px 10px;
	border-radius:4px;
	margin-bottom:5px;
	white-space: nowrap;
	
	&:hover {
		cursor:pointer;
		background: white;
		color: #e984ff;
	}
	
	&:active{
		color:#2aaddd;
	}
}
.toggleAudio {
	padding:0;
	width:45px;
	height:28px;
}
.audioOff {
	display: none;
}









/*******************
*
*      LOBBY
*
********************/
.lobby {
	color: #fff;
	flex: 1;
}
.lobby__label {
	text-align: center;
	padding-bottom: 5px;
}

.lobby__buttons {
	float:left;
	display:flex;
	align-items: center;
	margin-bottom:20px;
	flex-wrap:wrap;
	gap: 2px;
	
	> * {
		display: inline-block;
		margin-right:5px;
		margin-bottom:0;
	}
	> a {
		text-decoration: none;
	}
}
.lobby__player-stats {
	float:right;
	width:200px;
	margin-bottom:20px;
	padding-left:20px;
	border-left: 1px var(--borderColor) solid;
}

.lobby__games {
	clear:both;
	border-top: 1px var(--borderColor) solid;
}

.lobby__games-open {
	float:left;
}

.lobby__games-in-progress {
	float:right;
	padding-left:5px;
}

.lobbygame {
	margin: 4px;
	display: inline-block;
	min-width: 200px;
	/*background:#a69cbc;*/
	background: var(--sidebarBG);
	border-radius:5px;
	margin-bottom: 5px;
	border: 2px solid var(--color);
}
.lobbygame_is-full .lobbygame__join {
	display: none;
}
.lobbygame__header {
	background: var(--color);
	color: black;
	font-size: 1.1rem;
	padding: 4px;
	padding-top: 2px;
}
.lobbygame__main {
	padding: 2px;
}
.lobbygame__buttons {
	padding: 0 4px;
	padding-top: 4px;	
	border-top: 2px solid var(--color);
}









.postGame {
	padding: 5px 0;
	margin: 3px 0;
	text-align:center;
	.result {
		font-weight:bold;
	}
	.seriesScore {
		> div {
			width: 50%;
			padding:5px;
			box-sizing: border-box;
			font-weight:bold;
			> span {
				background: var(--darkGrey);
				border-radius:5px;
				width:66%;
				display:inline-block;
				padding:5px;
			}
		}
		> div:nth-child(0) {
			float:left;
		}
		> div:nth-child(1) {
			float:right;
		}
	}
}




.timeWarning {
	animation: colorchange 10s infinite;
}

@keyframes colorchange {
	0%   { background: var(--darkGrey); }
	5%   { background: #140c10; }
	10%  { background: var(--darkGrey); }
	15%  { background: #1a0a0e; }
	20%  { background: var(--darkGrey); }
	25%  { background: #1f090d; }
	30%  { background: var(--darkGrey); }
	35%  { background: #24080b; }
	40%  { background: var(--darkGrey); }
	45%  { background: #2a0609; }
	50%  { background: var(--darkGrey); }
	55%  { background: #2f0507; }
	60%  { background: var(--darkGrey); }
	65%  { background: #340405; }
	70%  { background: var(--darkGrey); }
	75%  { background: #390304; }
	80%  { background: var(--darkGrey); }
	85%  { background: #3f0102; }
	90%  { background: var(--darkGrey); }
	95%  { background: #440000; }
	100% { background: var(--darkGrey); }
}

.lobbyName {
	font-weight:bold;
	border-bottom: 1px var(--borderColor) solid;
	padding-bottom:5px;
	margin-bottom: 5px;
	font-size:20px;
}
.stat {
	float:right;
	font-weight:bold;
}

#roomTitle {
	color:white;
	text-align:center;
	padding-bottom:5px;
	& > span {
		display: inline-block;
		white-space: nowrap;
		transform-origin: left;
		font-weight:bold;
	}
}
#titleWidth {
	font-weight:bold;
}

#chooseColor {
	display:flex;
	flex-direction:row;
	flex-wrap: wrap;
	
}

#chooseColor > span {
	border: 1px #000 solid;
	border-radius:4px;
	flex: 1 0 20%; /* only fits 4 cause of margin. */
	height: 25px;
	margin:0 3px 6px 3px;
	
	&:nth-child(4n+1) { margin-left:0; }
	&:nth-child(4n+4) { margin-right:0; }
	&:hover:not(.nohover) {
		cursor:pointer;
		/* something cool here */
	}
}

.rowcolButtons {
	float:right;
	& > span { border-radius:4px; padding:0 4px; }
	& > span:hover {
		cursor:pointer;
		background:#5a4880;
	}
}

#flexcontainer {
	margin: 0px auto;
	display: flex;
	flex-direction:column;
	z-index:2;
}

#nameEntry {

	padding-top:5px;

	#ne {
		color: #001ca8;
		padding:3px 5px;
		border:2px solid #bfb0de;
		border-radius: 4px;
		font-size:15px;
		width:200px;
	}

	#ne:focus {
		border-color:#333;
	}

	#sendName {
		margin-left:10px;
		color:white;
		font-size:15px;
		padding:3px 15px;
		background:#9586b4;
		border:2px solid #bfb0de;
		cursor:pointer;
		border-radius: 4px;
		&:hover {
			background:#8e6ad9;
		}
	}
}

#username {
	position:absolute;
	color: #9384b3;
	cursor:default;
	opacity:0.5;
	font-weight:bold;
	font-size:30px;
	right: 15px;
	top: 10px;
	z-index:1;
}

#bottomOptions {
	width:222px;
	position: absolute;
	z-index: 1;
	bottom: 0px;
	background: var(--darkGrey);
	border-top: 1px var(--borderColor) solid;
	font-size:15px;
	> div, > a {
		text-align: center;
		margin:5px;
		text-decoration:none;
		> span {
			font-weight:bold;
		}
	}
}











/***************
*
*    Game
*
***************/
.game__menu-container {
}

.game-container {
	flex-grow: 1;
}

.game__board {
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	/*          0px 2px 0px 0px rgba(128, 128, 128, 0.5);
	border:2px #675c56 solid;			*/
	
	background: #675c56;
	margin: 0;
	border-radius: 2px;
	
	.board_row {
		height:50px;
		white-space: nowrap;
		
		.block {
			display: block;
			border-radius: 1px;
			float:left;
			position: relative;
			width:50px; height: 50px;
			
			background-size: contain;
			background-position: center center;
			
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			
			&.disabled {
				opacity:0.85;
				cursor:default;
			}
			&.nohover {
				cursor:default;
			}
			&.newMove {
				
			}
		}
	}
}

.prior-collision::before { 
	animation: origin-collision 0.25s infinite alternate; 
	content:""; 
	display: block; 
	height: 100%; 
	width: 100%; 
	position: absolute; 
	left: 0; 
	top: 0; 
	background-color: rgba(143,143,143,0.5); 
	box-shadow: inset 0 0 0 1px #161616, inset 0 0 0 3px #202020; 
}
@keyframes origin-collision { 
	0% { opacity: 0.2; } 
	40% { opacity: 0.25; } 
	60% { opacity: 0.95; } 
	100% { opacity: 1 } 
}

#headBoardContainer {
	margin: 0 auto;
}

.game__header {
	background-color: transparent;
	display:flex;
	
	div {
		flex: 1;
	}
}


.game__turn-time {
	font-weight:normal;
}

svg {
	width:100%;
	height:100%;
	display: block;
	pointer-events:none;
}

.block.ice svg {
	.border {
		fill: #58B1DD;
	}
	.border2 {
		stroke: #9AD1ED;
	}
}

.block .mineMetal {
	opacity:0.35;
}
.mineLights {
	fill: #48FF55;
	animation: mineGlow 0.33s infinite alternate ease-in-out;
}

@keyframes mineGlow {
	0% { opacity: 0.7; } 
	100% { opacity: 1; }
}

.duration {
	color: #888;
	font-weight:bold;
	font-size:150%;
}

.block svg {
	.border {
		opacity: 1;
	}
	.border2 {
		fill-opacity:0;
		stroke-opacity:1;
	}
	.outline {
		fill: #ffffff;
		fill-opacity: 0.5;
	}
	/*.circleoutline {
		stroke: #ffffff;
		stroke-opacity: 0.5;
		fill-opacity: 0;
	}*/
	.shape {
		fill: #000000;
	}
	.oShape {
		fill-opacity: 0;
		stroke-opacity:1;
		stroke: #000000;
	}
	.jewel {
		opacity: 0.2;
	}
}

.menu_block svg {
	.outline, .circleoutline {
		opacity: 0;
	}
}


.game__buttons-container {
	margin-top:10px;
}

.game__buttons {
	float:right;
}

.game__buttons-bottominfo {
	float:right;
	text-align:right;
	font-size:11px;
	color: var(--dimMsg);
	margin-right:20px;
	max-width:240px;
}

.game__menu {
	display:inline-block;
	/*
	padding: 5px 0 0 5px;
	background: var(--sidebarBG);
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	*/
	
	.menu_row {
		line-height:0px;
		
		.menu_block {
			background:#e4e4e4;
			display:inline-block;
			width:60px;
			height:60px;
			box-shadow: inset 0 0 0 1px rgba(0,0,0,0.4), 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
			position: relative;
			padding:0;
			margin:5px 10px 5px 0;
			z-index:1;
			
			& > .ammo {
				position:absolute;
				display:inline-block;
				top:-3px;
				right:-3px;
				font-size:15px;
				line-height:15px;
				font-weight:bold;
				background:var(--dimMsg);
				color:#fff;
				border-radius:4px;
				padding:1px 3px;
				z-index:2;
			}
			
			&:hover:not(.nohover) {
				background: #d99fd6;
				cursor:pointer;
			}
			
			&.disabled {
				opacity: 0.5;
				& > svg {
					opacity:0.5;
				}
				
				&:hover {
					background:#e4e4e4;
					cursor: default;
				}
			}
			
			&.noammo {
				opacity: 0.1;
			}
			
			&.active {
				border: 1px #4cd7e3 solid;
			}
		}
	}
}

#blockListEditor {
	margin: auto auto;
}
.blockInfoContainer {
	display:inline-block;
	margin:10px;
	text-align:center;
	font-size:15px;
	font-weight:bold;
	background:#5a497e;
	
	> span:nth-of-type(1) {
		float:left;
		margin-left:3px;
		color: var(--redMsg);
		&.disabled {
			color: #777;
			&:hover {
				cursor: default;
			}
		}
		&:hover {
			color: var(--redMsgLighter);
			cursor: pointer;
		}
	}
	
	> span:nth-of-type(2) {
		color: white;
	}
	
	> span:nth-of-type(3) {
		float:right;
		margin-right:3px;
		color: var(--greenMsg);
		&.disabled {
			color: #777;
			&:hover {
				cursor: default;
			}
		}
		&:hover {
			color: greenMsgLighter2;
			cursor: pointer;
		}
	}
}
.blockInList {
	background:#e4e4e4;
	display:inline-block;
	width:80px;
	height:80px;
	
	box-shadow: inset 0 0 0 1px rgba(0,0,0,0.4), 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
	position: relative;
	padding:0;
	margin:0px;
	z-index:1;
	float:left;
	
	&.disabled {
		background: #777;
		& > svg { opacity: 0.3 }
		&:hover {
			background: #c15cbc;
			svg { opacity: 0.5 }
		}
	}
	 &:hover {
		background: #d99fd6;
		cursor:pointer;
	 }
}


.blinkText {
	animation: blinkText 0.25s infinite alternate;
}

@keyframes blinkText {
	0% {
		opacity:1;
	}
	40% {
		opacity:0.95;
	}
	60% {
		opacity:0.6;
	}
	100% {
		opacity:0.55;
	}
}



.error-line {
	color: var(--redMsgLighter);
	font-size: 700;
	background: var(--darkGrey);
	border-bottom: 1px var(--borderColor) solid;
	padding: 4px;
}


/**
*
* UTIL
*
*/

.inline-block {
	display: inline-block;
}

.dummy {
	display: none;
}